---
layout: portfolio
---

<div id="lead">
    <div id="lead-content">
        <img width="200" height="200" src="/assets/img/profile.jpg" alt="" />
        <h1>Christian Forcada Vitalla</h1>
        <h2>Software Engineer</h2>
        <div class="social">
            {%- include social.html -%}
            <span class="separator"></span>
            <a class="blog" href="/blog">Blog (ES)</a>
        </div>
        <a href="/assets/data/christian_forcada_vitalla_resume.pdf" class="btn-rounded-white">Download Resume</a>
    </div>
    <div id="lead-overlay"></div>
</div>
